<nav>
  <ul>
    <li>
      <a href="/home">Inicio</a>
		</li>	
    <li>
			<a href="/products">Productos</a>
		</li>
		<li>
      <a href="/userInfo">Mis datos</a>
		</li>	
		<li>
      <a href="/cart">Carrito</a>
    </li>
		<li>
      <a href="/logout">Desconectarse</a>
    </li>
  </ul>
</nav>
